<footer class="main-footer d-flex p-2 px-3 bg-white border-top">
    <span class="copyright ml-auto my-auto mr-2">CopyRight © 2019 <span style="color: #1B5681;">LauzHack</span> By <span style="color: #1B5681;">GarlicBread Team</span></span>
</footer>

<script src="/socket.io/socket.io.js"></script>