<nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
    <form action="/search" method="POST" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
    <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="fas fa-search"></i>
        </div>
        </div>
        <input class="navbar-search form-control" name="search_v" id="search_v" type="text" placeholder="Search a room..." aria-label="Search">
    </div>
    </form>
    <ul class="navbar-nav border-left flex-row ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="avatar"></a>
        <div class="dropdown-menu dropdown-menu-small">
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" onclick="logout()">
            <i class="material-icons text-danger">&#xE879;</i> Logout </a>
        </div>
    </li>
    </ul>
    <nav class="nav">
    <a href="#" class="nav-link nav-link-icon toggle-sidebar d-sm-inline d-md-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
        <i class="material-icons">&#xE5D2;</i>
    </a>
    </nav>
</nav>