<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0" data-color="success">
    <div class="main-navbar">
    <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
        <a class="navbar-brand w-100 mr-0" onclick="go_home()" style="line-height: 25px;">
        <div class="d-table m-auto">
            <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="img/logo.png" alt="LauzHack">
        </div>
        </a>
        <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
        <i class="material-icons"></i>
        </a>
    </nav>
    </div>
    <form action="/search" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
    <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
        <div class="input-group-text">
            <i class="fas fa-search"></i>
        </div>
        </div>
        <input class="navbar-search form-control" type="text" placeholder="Search a room..." aria-label="Search">
    </div>
    </form>
    <div class="nav-wrapper" style="overflow-y: auto;">
    <h6 class="main-sidebar__nav-title">MENU</h6>
    <ul class="nav nav--no-borders flex-column">
        <li class="nav-item">
            <a class="nav-link" onclick="go_home()">
                <i class="material-icons">local_hospital</i>
                <span>Hospitals</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="go_rooms()">
                <i class="material-icons">account_tree</i>
                <span>Rooms</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="go_results()">
                <i class="material-icons">assignment</i>
                <span>Results</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="go_analyses()">
                <i class="material-icons">poll</i>
                <span>Analyses</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" onclick="go_bacteria()">
                <i class="material-icons">bug_report</i>
                <span>Bacterias</span>
            </a>
        </li>
    </ul>
    <h6 class="main-sidebar__nav-title">MORE</h6>
    <ul class="nav nav--no-borders flex-column">
        <li class="nav-item">
            <a class="nav-link" onclick="go_help()">
                <i class="material-icons">help</i>
                <span>Help</span>
            </a>
        </li>
    </ul>
    </div>
</aside>