<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LauzHack - GarlicBeard</title>
    <meta name="description"
        content="A premium collection of beautiful hand-crafted Bootstrap 4 admin dashboard templates and dozens of custom components built for data-driven applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1" href="css/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="css/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body class="h-100">
    <div class="container-fluid icon-sidebar-nav">
        <div class="row">
            <!-- Main Sidebar -->
            <%- include('./partials/nav-general'); -%>
            <!-- End Main Sidebar -->
            <main class="main-content col">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <%- include('./partials/nav-top') -%>
                </div> <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">

                    <div class="page-header row no-gutters py-4">
                        <div class="col-12 col-sm-6 text-center text-sm-left mb-4 mb-sm-0"
                            style="padding-left: 12%; color: white;">
                            <span class="text-uppercase page-subtitle">LauzHack - GarlicBread</span>
                            <h3 class="page-title">Rooms</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Add a room</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-3">
                                        <div class="row">
                                            <div class="col">
                                                <form action="/add_room" method="POST">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="name_room">Name of the room</label>
                                                            <input type="text" class="form-control" name="name_room" id="name_room" placeholder="Name of the room">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="name_hospital">Hospital</label>
                                                            <select id="name_hospital" class="form-control" name="name_hospital"></select>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-accent">Ajouter</button>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./partials/footer') -%>
            </main>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="js/extras.1.3.1.min.js"></script>
    <script src="js/shards-dashboards.1.3.1.min.js"></script>
    <script src="js/app/app-analytics-overview.1.3.1.js"></script>
    <script src="js/function.js"></script>

    <script>
        var sess = <%- JSON.stringify(sess) %>;
        var hospital_list = <%- JSON.stringify(hospital_list) %>;

        function load_hospitals() {
            for (let i in hospital_list) {
                $('#name_hospital').append('<option value="' + hospital_list[i].id_hospital + '">' + hospital_list[i].name_hospital + '</option>')
            }
        }

        $(document).ready(function () {
            $('#avatar').append('<img class="user-avatar rounded-circle mr-2" src="img/avatars/' + sess.image_user + '" alt="Avatar">');
            $('#avatar').append('<span class="d-none d-md-inline-block">' + sess.login + '</span>');
            $('#image_profil').append('<img src="img/avatars/' + sess.image_user + '" alt="User Avatar">');

            load_hospitals();
        });
    </script>

</body>

</html>