<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LauzHack - GarlicBeard</title>
    <meta name="description"
        content="A premium collection of beautiful hand-crafted Bootstrap 4 admin dashboard templates and dozens of custom components built for data-driven applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1" href="css/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="css/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body class="h-100">
    <div class="container-fluid icon-sidebar-nav">
        <div class="row">
            <!-- Main Sidebar -->
            <%- include('./partials/nav-general'); -%>
            <!-- End Main Sidebar -->
            <main class="main-content col">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <%- include('./partials/nav-top') -%>
                </div> <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">

                    <div class="page-header row no-gutters py-4">
                        <div class="col-12 col-sm-6 text-center text-sm-left mb-4 mb-sm-0"
                            style="padding-left: 12%; color: white;">
                            <span class="text-uppercase page-subtitle">LauzHack - GarlicBeard</span>
                            <h3 class="page-title">Fiche result</h3>
                        </div>
                    </div>

                                        <div class="row">
                        <div class="col-lg-6">
                            <div class="card card-small mb-4">
                                <div class="card-header border-bottom">
                                    <h6 class="m-0">Analyse informations</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-3">
                                        <div class="row">
                                            <div class="col">
                                                <form action="#">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label for="hospital_name">Name of the hospital</label>
                                                            <input type="text" class="form-control" name="hospital_name" id="hospital_name" placeholder="Name of the hospital" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label for="id_analyse">Analyse id</label>
                                                            <input type="text" class="form-control" name="id_analyse" id="id_analyse" placeholder="Analyse id" disabled>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="put_your_ass_here">

                    </div>

                </div>
                <%- include('./partials/footer') -%>
            </main>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="js/extras.1.3.1.min.js"></script>
    <script src="js/shards-dashboards.1.3.1.min.js"></script>
    <script src="js/app/app-analytics-overview.1.3.1.js"></script>
    <script src="js/function.js"></script>

    <script>
        var sess = <%- JSON.stringify(sess) %>;
        var results_list = <%- JSON.stringify(results_list) %>;
        var hospital_list = <%- JSON.stringify(hospital_list) %>;
        var id = <%- JSON.stringify(id) %>;
        var links_bacteria_list = <%- JSON.stringify(links_bacteria_list) %>;
        var bacteria_list = <%- JSON.stringify(bacteria_list) %>;

        console.log(results_list, hospital_list, bacteria_list, links_bacteria_list);

        function load_analyses() {
            let v_name_hosp = '';
            for (let i in hospital_list) hospital_list[i].id_hospital == id ? v_name_hosp = hospital_list[i].name_hospital : {};
            $('#hospital_name').val(v_name_hosp);
            $('#id_analyse').val(results_list[0].id_analyse);

            for (let i in results_list) {
                let date = new Date(results_list[i].date).toLocaleString();

                $('#put_your_ass_here').append(' \
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer mt-5 mb-2"> \
                        <table class="transaction-history d-none dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1022px;"> \
                            <thead> \
                                <tr role="row"> \
                                    <th tabindex="1" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" \
                                        style="width: 18.3px;" aria-sort="ascending" \
                                        aria-label="Identifiant: activate to sort column descending">Result id</th> \
                                    <th tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" \
                                        style="width: 64.8px;" aria-label="Products: activate to sort column ascending">Room id</th> \
                                    <th tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" \
                                        style="width: 64.8px;" aria-label="Products: activate to sort column ascending">Bacteria name</th> \
                                    <th tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" \
                                        style="width: 64.8px;" aria-label="Products: activate to sort column ascending">Correspondance</th> \
                                </tr> \
                            </thead> \
                            <tbody class="results_' + results_list[i].id_result + '"> \
                            </tbody> \
                        </table> \
                    </div>');

                    for (let v in links_bacteria_list) {
                        if (links_bacteria_list[v].id_result == results_list[i].id_result) {
                            let v_name_bacteria;
                            let v_room_id;
                            for (let u in bacteria_list) bacteria_list[u].id_bacteria == links_bacteria_list[v].id_bacteria ? v_name_bacteria = bacteria_list[u].name_bacteria : {};
                            $(".results_" + results_list[i].id_result).append(' \
                                <tr role="row" class="odd"> \
                                    <td>' + links_bacteria_list[v].id_result + '</td> \
                                    <td>' + results_list[i].id_room + '</td> \
                                    <td>' + v_name_bacteria + '</td> \
                                    <td>' + links_bacteria_list[v].percent + ' %</td> \
                                </tr>');
                        }
                    }

                /*
                $("#results_").append(' \
                <tr role="row" class="odd"> \
                    <td>' + results_list[i].id_analyse + '</td> \
                    <td>' + date + '</td> \
                    <td style="color: ' + v_bstatus + '">' + v_status + '</td> \
                    <td> \
                        <div class="btn-group btn-group-sm ml-3" role="group" aria-label="Table row actions"> \
                            <button type="button" class="btn btn-white" onclick="view(' + analyses_list[i].id_analyse +
                    ')" ' + ((!analyses_list[i].status) ? 'disabled' : '') + '> \
                                <i class="material-icons">visibility</i> \
                            </button> \
                        </div> \
                    </td> \
                </tr>');
                */
            }
        }

        function view(id_analyse) {
            document.location.href = '/result' + id_analyse;
        }

        $(document).ready(function () {
            $('#avatar').append('<img class="user-avatar rounded-circle mr-2" src="img/avatars/' + sess
                .image_user + '" alt="Avatar">');
            $('#avatar').append('<span class="d-none d-md-inline-block">' + sess.login + '</span>');
            $('#image_profil').append('<img src="img/avatars/' + sess.image_user + '" alt="User Avatar">');

            load_analyses();
        });
    </script>

</body>

</html>