<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LauzHack - GarlicBeard</title>
    <meta name="description" content="A premium collection of beautiful hand-crafted Bootstrap 4 admin dashboard templates and dozens of custom components built for data-driven applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1" href="css/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="css/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png"/>
  </head>
  <body class="h-100">
    <div class="container-fluid icon-sidebar-nav">
      <div class="row">
        <!-- Main Sidebar -->
        <%- include('./partials/nav-general'); -%>
        <!-- End Main Sidebar -->
        <main class="main-content col">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <%- include('./partials/nav-top') -%>
          </div> <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">

          <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-6 text-center text-sm-left mb-4 mb-sm-0" style="padding-left: 12%; color: white;">
              <span class="text-uppercase page-subtitle">LauzHack - GarlicBeard</span>
              <h3 class="page-title">Help</h3>
            </div>
          </div>

          <div class="card card-small user-activity mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Pipeline process</h6>
                    <div class="block-handle"></div>
                  </div>
                  <div class="card-body p-0">
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">looks_one</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">Frontend</span>
                        <p>Start an analysis with dataset url.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">looks_two</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">Backend</span>
                        <p>Send the data to a container who'll extract necessary informations.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">looks_3</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">ML</span>
                        <p>Use bacteria database and machine learning to get percentage of bacterias in the amount of data.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">looks_4</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">Backend</span>
                        <p>Parse the returned data to JSON and work on the output dataset.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">looks_5</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">Frontend</span>
                        <p>Display the results on the web application.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">cloud_circle</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">Scalability</span>
                        <p>Parsings and ML classifications are done in dynamically created containers to ensure the scalability of the application.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                      <div class="user-activity__item__icon">
                        <i class="material-icons">device_hub</i>
                      </div>
                      <div class="user-activity__item__content">
                        <span class="text-light">Environnements</span>
                        <p>Each room has his own container to isolate the identification of pathogens.</p>
                        <p>At the end, a linear function will adjust the source of infections of each environnement by comparing them spatially.</p>
                      </div>
                    </div>
                    <div class="user-activity__item pr-3 py-3">
                        <div class="user-activity__item__icon">
                            <i class="material-icons">timer</i>
                        </div>
                        <div class="user-activity__item__content">
                            <span class="text-light">Efficiency</span>
                            <p>Amount of data in a dataset is problematic.</p>
                            <p>How can we save time for execution and treatment ?</p>
                            <p>1. Using containers with Docker to manage differents process at the same time in different containers.</p>
                            <p>2. Parse correctly the dataset to keep only the informations that we need.</p>
                            <p>3. One unique location for the storage of the big dataset.</p>
                        </div>
                    </div>
                  </div>
                </div>

          </div>
          <%- include('./partials/footer') -%>
        </main>
      </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="js/extras.1.3.1.min.js"></script>
    <script src="js/shards-dashboards.1.3.1.min.js"></script>
    <script src="js/app/app-analytics-overview.1.3.1.js"></script>
    <script src="js/function.js"></script>

    <script>
      var sess = <%- JSON.stringify(sess) %>;

      $(document).ready(function() {
        $('#avatar').append('<img class="user-avatar rounded-circle mr-2" src="img/avatars/' + sess.image_user + '" alt="Avatar">');
        $('#avatar').append('<span class="d-none d-md-inline-block">' + sess.login + '</span>');
        $('#image_profil').append('<img src="img/avatars/' + sess.image_user + '" alt="User Avatar">');
      });
  </script>

  </body>
</html>