<!doctype html>
<html class="no-js h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LauzHack - GarlicBeard</title>
    <meta name="description"
        content="A premium collection of beautiful hand-crafted Bootstrap 4 admin dashboard templates and dozens of custom components built for data-driven applications.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.3.1" href="css/shards-dashboards.1.3.1.min.css">
    <link rel="stylesheet" href="css/extras.1.3.1.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/logo.png" />
</head>

<body class="h-100">
    <div class="container-fluid icon-sidebar-nav">
        <div class="row">
            <!-- Main Sidebar -->
            <%- include('./partials/nav-general'); -%>
            <!-- End Main Sidebar -->
            <main class="main-content col">
                <div class="main-navbar sticky-top bg-white">
                    <!-- Main Navbar -->
                    <%- include('./partials/nav-top') -%>
                </div> <!-- / .main-navbar -->
                <div class="main-content-container container-fluid px-4">

                    <div class="page-header row no-gutters py-4">
                        <div class="col-12 col-sm-6 text-center text-sm-left mb-4 mb-sm-0"
                            style="padding-left: 12%; color: white;">
                            <span class="text-uppercase page-subtitle">LauzHack - GarlicBeard</span>
                            <h3 class="page-title">Rooms</h3>
                        </div>
                        <div class="col-3 col-sm-1 d-flex align-items-center">
                            <div class="d-inline-flex mb-sm-0 mx-auto ml-sm-auto mr-sm-0" role="group"
                                aria-label="Page actions">
                                <a id="add-new-event" class="btn btn-primary" style="color: white;"
                                    onclick="add_room()">
                                    <i class="material-icons">add</i> Add room </a>
                            </div>
                        </div>
                        <div class="col-3 col-sm-1 d-flex align-items-center">
                            <div class="d-inline-flex mb-sm-0 mx-auto ml-sm-auto mr-sm-0" role="group" aria-label="Page actions">
                                <a id="add-new-event" class="btn btn-primary" style="color: white;" onclick="add_links()">
                                    <i class="material-icons">check</i> Add links </a>
                            </div>
                        </div>
                    </div>

                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table class="transaction-history d-none dataTable no-footer dtr-inline" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 1022px;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="1" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 18.3px;" aria-sort="ascending" aria-label="Identifiant: activate to sort column descending">Room id</th>
                                    <th tabindex="2" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 155.8px;" aria-label="Date: activate to sort column ascending">Room name</th>
                                    <th tabindex="3" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 187.8px;" aria-label="Customer: activate to sort column ascending">Hospital name</th>
                                    <th tabindex="4" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 64.8px;" aria-label="Products: activate to sort column ascending">Rooms neighbours</th>
                                </tr>
                            </thead>
                            <tbody id="rooms_">
                            </tbody>
                        </table>
                        <!-- End Transaction History Table -->
                    </div>

                </div>
                <%- include('./partials/footer') -%>
            </main>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script src="js/extras.1.3.1.min.js"></script>
    <script src="js/shards-dashboards.1.3.1.min.js"></script>
    <script src="js/app/app-analytics-overview.1.3.1.js"></script>
    <script src="js/function.js"></script>

    <script>
        var sess = <%- JSON.stringify(sess) %>;
        var hospital_list = <%- JSON.stringify(hospital_list) %>;
        var rooms_list = <%- JSON.stringify(rooms_list) %>;
        var links_list = <%- JSON.stringify(links_list) %>;

        function add_room() {
            document.location.href = '/add_room';
        }

        function add_links() {
            document.location.href = '/add_links';
        }

        function load_rooms() {
            for (let i in rooms_list) {
                let v_hosp = '';
                let cpt_links = 0;
                
                for (let v in hospital_list) hospital_list[v].id_hospital === rooms_list[i].id_hospital ? v_hosp = hospital_list[v].name_hospital : {};
                for (let w in links_list) (links_list[w].id_first_room === rooms_list[i].id_room) ||
                (links_list[w].id_second_room === rooms_list[i].id_room) ? cpt_links++ : {};

                $("#rooms_").append(' \
                <tr role="row" class="odd"> \
                    <td>' + rooms_list[i].id_room + '</td> \
                    <td>' + rooms_list[i].name_room + '</td> \
                    <td>' + v_hosp + '</td> \
                    <td>' + cpt_links + '</td> \
                </tr>');
            }
        }

        $(document).ready(function () {
            $('#avatar').append('<img class="user-avatar rounded-circle mr-2" src="img/avatars/' + sess
                .image_user + '" alt="Avatar">');
            $('#avatar').append('<span class="d-none d-md-inline-block">' + sess.login + '</span>');
            $('#image_profil').append('<img src="img/avatars/' + sess.image_user + '" alt="User Avatar">');

            load_rooms();
        });
    </script>

</body>

</html>